
<body>
  
  <table>
    <tr>
        <td>Row 1, Cell 1</td>
        <td>Row 1, Cell 2</td>
        <td>Row 1, Cell 3</td>
    </tr>
    <tr>
        <td>Row 2, Cell 1</td>
        <td>Row 2, Cell 2</td>
        <td>Row 2, Cell 3</td>
    </tr>
  </table>
  
  <br>

  <form>
  {{!-- add form and submit button here --}}

  </form>
  
  <select name="Choose a job">
    <option value="">Accountant</option>
    <option value="">Software Engineer</option>
    <option value="">Toilet Cleaner</option>
    <option value="">Teacher</option>
    <option value="">Penguin Trainer</option>
    <option value="">Call Center Employee</option>
  </select>

  <ul>
  {{#each users}}
  <li>{{name}} ({{email}})</li>
  {{/each}}
  </ul>




</body>
</html>


