
<body>
  
  <table>
    What is your post-apocalyptic job?
    <tr>
        <td><img src="/images/cannibal.jpg"></td>
        <td><img src="/images/roadwarrior.jpg"></td>
        <td><img src="/images/vampire.jpg"></td>
    </tr>
    <tr>
        <td>Row 2, Cell 1</td>
        <td>Row 2, Cell 2</td>
        <td>Row 2, Cell 3</td>
    </tr>
  </table>
  
  <br>

  <form class="form">
  <input id="name" type="text">
  <input type="submit">
  </form>
  
  <select id="select" name="Choose a job">
    <option value="">Accountant</option>
    <option value="">Software Engineer</option>
    <option value="">Toilet Cleaner</option>
    <option value="">Teacher</option>
    <option value="">Penguin Trainer</option>
    <option value="">Call Center Employee</option>
  </select>

  <ul>
  {{#each users}}
  <li>{{name}} ({{email}})</li>
  {{/each}}
  </ul>

<script type="text/javascript" src="/index.js">

</script>


</body>
</html>


