<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible'>
  <title>headHunter</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='./styles.css'>
  <link rel="icon" type="image/x-icon" href="/images/tempButton.jpg">
  <h1>headHunter</h1>
</head>
<body>
  {{{body}}}
</body>